Debug
Release

freewill/Debug
freewill/*.aps
freewill/*.filters
freewill/*.user
freewill/*_i.c
freewill/*_p.c
freewill/dlldata.c
freewill/bodyplus.h
freewill/boundplus.h
freewill/fileplus.h
freewill/kineplus.h
freewill/matplus.h
freewill/meshplus.h
freewill/rndrplus.h
freewill/sceneplus.h
freewill/transplus.h
freewill/common.h
freewill/freewill.h

fwaction/Debug
fwaction/*.aps
fwaction/*.filters
fwaction/*.user
fwaction/*_i.c
fwaction/*_p.c
fwaction/dlldata.c
fwaction/actionplus.h
fwaction/fwaction.h

fwrender/Debug
fwrender/*.aps
fwrender/*.filters
fwrender/*.user
fwrender/*_i.c
fwrender/*_p.c
fwrender/dlldata.c
fwrender/fwrender.h

fwview/Debug
fwview/*.aps
fwview/*.filters
fwview/*.user

fwlib/Debug
fwlib/*.aps
fwlib/*.filters
fwlib/*.user
