*.suo
*.sdf
Debug
Release

FWStarter
FWStarter/*.*
FWStarter_
FWStarter_/*.*


freewill/Debug
freewill/Release
freewill/*.aps
freewill/*.user
freewill/*_i.c
freewill/*_p.c
freewill/dlldata.c
freewill/bodyplus.h
freewill/boundplus.h
freewill/fileplus.h
freewill/kineplus.h
freewill/matplus.h
freewill/meshplus.h
freewill/rndrplus.h
freewill/sceneplus.h
freewill/transplus.h
freewill/common.h
freewill/freewill.h

fwaction/Debug
fwaction/Release
fwaction/*.aps
fwaction/*.user
fwaction/*_i.c
fwaction/*_p.c
fwaction/dlldata.c
fwaction/actionplus.h
fwaction/fwaction.h

fwrender/Debug
fwrender/Release
fwrender/*.aps
fwrender/*.user
fwrender/*_i.c
fwrender/*_p.c
fwrender/dlldata.c
fwrender/fwrender.h

fwview/Debug
fwview/Release
fwview/*.aps
fwview/*.user

fwlib/Debug
fwlib/Release
fwlib/*.aps
fwlib/*.user

FWStarter/Debug
FWStarter/Release
FWStarter/*.aps
FWStarter/*.user

